# Terraform state files
*.tfstate
*.tfstate.backup

# Ignore .terraform directory (all environments)
.terraform/

# Terraform plan files
*.tfplan

# For all .tfvars files in sub-directories
*.tfvars

# Optionally, you can keep environment-specific .terraform directory ignore as well, but it's not needed. 
environments/dev/.terraform/

 
